<!-- email.ejs -->

<%/* EJS args:
{
    events: Array<{
        eventURL: string;
        date: number;
        title: string;
        location: string;
        fee: {
            origional: {
                symbol: string;
                ammount: number;
            };
            converted: {
                symbol: string;
                ammount: number;
            };
        };
        loc: Array<number>;
        competitors: {
            current: number;
            max: number;
        };
    }>;
    unsubURL: string;
    websiteName: string;
    summary: string;
}
*/%>

<p style="color: transparent; font-size: 0px;"><%= summary.padEnd(200, ' ‌') %></p>

<div style="padding: 50px; max-width: 500px;">
    <% events.forEach((event) => { %>
    <div style="margin: 0 auto 45px auto;">
        <h3 style="
            line-height: 1.5;
            font-weight: 500;
            font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
            font-size: 20px;
            font-weight: bold;
            display: inline;
        ">
            <%= new Date(event.date).toLocaleString('en-US', { day: 'numeric', month: 'long' }) %>:
            <a href="<%= event.eventURL %>" style="color: #4D78DB;"><%= event.title %></a>
        </h3>
        <hr />
        <p style="font-family: 'Segoe UI', Helvetica, Arial, sans-serif; line-height: 1.5;">
            <b>Location:</b> <a href="https://www.google.com/maps/place/<%= event.loc.join(',') %>" style="color: #4D78DB;" target="_blank"><%= event.location %></a> <br />
            <b>Competitors:</b> <%= event.competitors.current %>/<%= event.competitors.max %>
            <% if (event.competitors.current >= event.competitors.max) { %>(full)<% } %> <br />
            <b>Registration fee:</b> <%= event.fee.origional.symbol %> <%= event.fee.origional.ammount.toFixed(2) %>
            <% if (event.fee.origional.symbol != event.fee.converted.symbol) { %>(<%= event.fee.converted.symbol %> <%= event.fee.converted.ammount.toFixed(2) %>)<% } %> <br />
        </p>
    </div>
    <% }); %>
</div>

<footer style="
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
">
    &copy; <%= new Date().getFullYear() %> <%= websiteName %> <br />
    No longer want to receive these emails? <a href="<%= unsubURL %>" style="color: #4D78DB">Unsubscribe</a>
</footer>
